.integerDiv{
    display: flex;
    flex-direction: column;
}

.questionNum{
    padding: 1rem;
    font-size: large;
    font-weight: 700;
    border-bottom: 1px solid grey;
}

.question{
    padding: 0.3rem;
}

.question img {
  margin-left: 1rem;
  min-width: 200px;
  max-width: 80%;
}

.inputBox{
    padding: 1rem;
}

@media screen and (max-width: 500px) {
  .question img {
    margin-left: 1rem;
    margin-right: auto;
    max-width: 80vw;
  }
}