.questionDiv {
  width: 100%;
}

.panelDiv{
  height: calc(71vh - 80px);
  overflow: scroll;
}

.questionDiv p {
  font-size: large;
  padding: 0 2rem;
  text-align: justify;
}

.questionNum {
  font-weight: 600;
  padding: 1rem;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.question {
  padding: 0.3rem;
}

.image {
  margin-left: 1rem;
  min-width: 200px;
  max-width: 80%;
}

@media screen and (max-width: 500px) {
  .image {
    margin-left: 1rem;
    margin-right: auto;
    max-width: 80vw;
  }
}
