.carousel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100vw;
  position: relative;

  text-align: center;
  background-color: beige;

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.carousel img {
  max-width: 100vw;
  height: 440px;
}


.carouselInner {
  white-space: nowrap;
  transition: ease 1s;
}

.carouselItem {
  display: inline-block;
  width: 100%;
}

.carouselControl {
  background-color: transparent;
  border: none;
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 70px;
  top: calc(50% - 25px);
  font-weight: 900;
  font-size: x-large;
  color: black;
  cursor: pointer;
}
.left {
  left: 0;
}
.right {
  right: 0;
}

.carouselIndicators {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 1.5em;
  z-index: 2;
}
.carouselIndicatorItem {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  background: grey;
  opacity: 0.5;
  margin: 0.2em;
  border-radius: 50%;
  cursor: pointer;
}
.active {
  opacity: 1;
  background-color: black;
}

@media screen and (max-width: 900px) {
  .carousel img {
    height: 420px;
  }
}

@media screen and (max-width: 600px) {
  .carousel img {
    height: 250px;
  }

 
}
