.header {
  position: sticky;
  top: 0;
  width: 100%;
}

.content {
  display: flex;
}

.sidebar {
  width: 250px;
}

.contentDefault {
  height: 100%;
  width: calc(100vw - 250px);
}

.footer {
  display: flex;
  justify-content: end;
  background-color: navy;
  color: white;
  padding: 1rem;
  width: inherit;
  position: fixed;
  bottom: 0;
}

.none {
  display: block;
}

@keyframes fadeIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.overlayNone {
  display: none;
}

@media screen and (max-width: 928px) {
  .none {
    display: none;
  }

  .sidebar {
    position: absolute;
    z-index: 3;
    top: 5.2rem;
    bottom: 0;
    animation: fadeIn 0.3s ease-in-out;
  }

  .overlay {
    display: block;
  }

  .contentDefault {
    width: 100%;
  }
}
