.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4245fe;
  align-items: center;
  padding: 0.2rem 1rem 0 1rem;
  z-index: 100;
}

.navbar.homeBar {
  position: sticky;
  top: 0;
  width: 100%;
}

.navLogo {
  display: flex;
  justify-content: center;
}

.toggleBar {
  display: none;
}

.toggleBar i {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.navLogo a {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
}

.navLogo img {
  height: 5rem;
}

.navLogo .appLogo {
  display: none;
}

.navContent ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.navContent ul li {
  list-style-type: none;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 550;
  color: rgb(255, 251, 0);
  white-space: nowrap;
}

.navContent ul li a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 251, 0);
}

.navContent ul span {
  display: none;
}

.dropdownIcon {
  display: none;

  width: fit-content;
  font-size: 1.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.backdrop {
  display: none;
}

.dropdown {
  position: relative;
}

@media screen and (max-width: 928px) {
  .toggleBar {
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .navContent ul span {
    display: block;
  }

  .dropdownIcon {
    display: flex;
    justify-content: center;
  }

  .navContent ul {
    display: none;
  }

  .navContent.dropdown ul {
    position: absolute;
    top: 33px;
    right: 0px;
    display: flex;
    flex-direction: column;
    padding: 0.7rem 0.2rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
  }

  .navContent.dropdown::before {
    position: absolute;
    content: " ";
    top: 25px;
    right: 5px;
    z-index: 100;

    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 5px solid transparent;
  }

  .navContent.dropdown ul li {
    color: black;
    display: flex;
    gap: 0.5rem;
    font-size: large;
  }

  .navContent.dropdown ul li a {
    color: black;
    display: flex;
    gap: 0.5rem;
    font-size: large;
  }

  .navContent.dropdown ul li span {
    font-size: medium;
  }

  .backdrop {
    display: block;
    position: absolute;
    top: 0;
    bottom: -85vh;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 345px) {
  .navbar {
    padding: 0.2rem 0.5rem 0 0.25rem;
  }
}
