.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4245fe;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1;
}

.navLogo {
  display: flex;
  justify-content: center;
}

.toggleBar {
  display: none;
}

.toggleBar i,
.navLogo a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.navContent ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.navContent ul li {
  list-style-type: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: rgb(255, 251, 0);
}

@media screen and (max-width: 928px) {
  .toggleBar {
    display: block;
  }
}
