.cardContainer {
    background-color: whitesmoke;
    text-decoration: none;
    border-radius: 0 0 6px 6px;
    cursor: pointer;
}

.cardContainer:hover{
    box-shadow: 4px 4px 10px grey;
}

.img img {
  border-radius: 3px;
  width: 20rem;
}

.liveClassName{
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
}

@media screen and (max-width: 975px) {
  .img img {
    width: 18rem;
  }
}

@media screen and (max-width: 928px) {
  .img img{
    width: 20rem;
  }
}

@media screen and (max-width: 720px) {
  .img img{
    width: 15rem;
  }
}

@media screen and (max-width: 563px) {
  .img img{
    width: 21rem;
  }
}

@media screen and (max-width: 375px) {
  .img img{
    width: 17rem;
  }
}