.cardContainer {
    background-color: whitesmoke;
    border-radius: 0 0 6px 6px;
    cursor: pointer;
}

.cardContainer:hover{
    box-shadow: 4px 4px 10px grey;
}

.img img {
  border-radius: 3px;
  width: 20rem;
}

.liveClassName{
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
}

@media screen and (max-width: 380px) {
  .img img {
    width: 18rem;
  }
}

@media screen and (max-width: 330px) {
  .img img {
    width: 15rem;
  }
}
