.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  min-height: max-content;
  /* background-color: #f0f0f0; */
  font-family: Arial, sans-serif;
  transition: all 0.3s ease;
}

.contentSection {
  background-color: #ebebeb;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  margin-bottom: 2rem;
  overflow-y: scroll;
  height: 300px;
  animation: fadeIn 1s ease-out;
}

.textContainer {
  user-select: none;
  font-size: 1.2rem;
  line-height: 1.6;
}

.word {
  display: inline-block;
  margin-right: 0.5rem;
  transition: background-color 0.2s;
}

.highlighted {
  background-color: #e6e6e6;
}

.optionSection {
  width: 80%;
  max-width: 800px;
}

.timerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  animation: fadeIn 1s ease-out;
}

.startButton {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.startButton:hover {
  background-color: #45a049;
}

.submitButton {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:disabled {
  background-color: #e0e0e0;
}

.submitButton:hover {
  background-color: #e53935;
}

.inputArea {
  width: 100%;
  height: 100px;
  padding: 1rem;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 1rem;
  resize: none;
}

.resultsContainer {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.resultsItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.resultsItem span:first-child {
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
