.header{
    background-color: navy;
    color: white;
    padding: 2rem;
}

.testContainer{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

.emptyHeight{
    height: 100px;
}

@media screen and (max-width: 546px) {
    .testContainer{
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}